@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ddd;
    font-family: "Poppins", sans-serif;
    background: url("../images/background.jpg") no-repeat center center fixed;
    background-size: cover;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

form {
    width: 400px;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent background */
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

form h1 {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 24px;
}

.form-label {
    font-weight: 500;
    margin-bottom: 10px;
    display: block;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #f8f8f8;
}

.btn-primary {
    width: 100%;
    padding: 10px;
    background-color: #0066cc;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #004b99;
}

.login-link {
    text-align: center;
    margin-top: 20px;
}

.login-link a {
    color: green;
    font-weight: 600;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
    color: blue; /* Darker color on hover */
}

@media only screen and (max-width: 600px) {
    form {
        width: 90%;
    }
}
